<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Introspect by TEMPLATED</title>
    <link rel="icon" href="data:,">
    <meta name="robots" content="noindex">
		<meta name="description" content="home page">

    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	</head>


  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163218066-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163218066-1');
</script>


	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<img src="static/images/bemo-logo2.png" align="left" style="max-height: 150px;max-width: 150px;">
					<nav id="nav">
						<a href="https://bmovish.herokuapp.com/index" style="color: black">Home</a>
						<a href="https://bmovish.herokuapp.com/contact" style="color: black">Contact</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1><span>CDA Interview Guide</span></h1>
					<!-- <ul class="actions">
						<li><a href="#" class="button alt">Get Started</a></li>
					</ul> -->
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner">
					<header>
						<h5 style="color: #036"> Ultimate Guide to CDA Structured Interview: Tips & Proven Strategies to Help You Prepare & Ace Your CDA Interview
            </h5>
            <br>
          <h5> Overview: </h5>
					</header>
					<p><h6>The purpose of the dental school interview<br>
          History and rationale of the CDA interview<br>
          Types of Questions<br>
          The Seven Competencies<br></h6>
          <a href="#">Structure of the CDA interview</a><br>
          <a href="#">How to prepare for your CDA Interview<br>
          <a href="#">Sample CDA interview questions<br>
          <a href="#">BeMo CDA-structured interview prep program<br>
          <a href="#">Contact us
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h5>©2013-2016 BeMo Academic Consulting Inc. All rights reserved. Disclaimer & Privacy Policy Contact Us</h5>
					</header>
					<!-- <form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="alt" /></li>
						</ul>
					</form> -->
					<!-- <div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div> -->
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>